@font-face {
    font-family: Orbitron;
    src: url(fuentes/Orbitron/Orbitron-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Orbitron;
}

canvas {
    position: absolute;
    filter: brightness(80%);
    filter: blur(5px);
    z-index: 0;
}

.redes {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.redes p {
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.content-redes {
    height: 5em;

}

.botones-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-items: center;
    margin-top: 10em;
}

.btn {
    background-color: #FF3D00;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.4s ease, border-radius 0.4s ease;
    cursor: pointer;
    position: relative;
}

.btn:hover {
    width: 190px;
    border-radius: 30px;
}

.icon {
    font-size: 24px;
    color: white;
    transition: transform 0.4s ease;
    display: flex;
    align-items: center;
}

.text {
    position: absolute;
    color: white;
    font-size: 18px;
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    text-transform: capitalize;
    left: 4em;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover .icon {
    transform: translateX(-60px);
}

.btn:hover .text {
    opacity: 1;
    transform: translateX(0);
}

.icon img {
    height: 70px;
    justify-content: center;

}

.btnins {
    background: #833ab4;
    background: linear-gradient(to right,
            #833ab4, #fd1d1d, #fcb045);
    background-color: #FF3D00;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.4s ease, border-radius 0.4s ease;
    cursor: pointer;
    position: relative;
}

.btnins:hover {
    width: 190px;
    border-radius: 30px;
}

.btnins:hover .icon {
    transform: translateX(-65px);
}

.btnins:hover .text {
    opacity: 1;
    transform: translateX(0);
}

.btnins img {
    height: 50px;
    justify-content: center;
}

.f-perfil {
    height: 10em;
    padding: 2em;
    width: 22em;
    border-radius: 5px 5px 0 0;
    background-image: url(img/fondo.png);
    background-size: cover;
}

.f-perfil img {
    margin-top: 5em;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.247);
    animation: glowingBorder 5s infinite linear;
}

.btnPor {
    background-color: #000000;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.4s ease, border-radius 0.4s ease;
    cursor: pointer;
    position: relative;
}

.btnPor:hover {
    width: 190px;
    border-radius: 30px;
}

.btnPor:hover .icon {
    transform: translateX(-60px);
}

.btnPor:hover .text {
    opacity: 1;
    transform: translateX(0);
}

.btnPor img {
    height: 45px;
    justify-content: center;
    align-items: center;
}

.btnTw {
    background-color: rgb(143, 68, 255);
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.4s ease, border-radius 0.4s ease;
    cursor: pointer;
    position: relative;
}

.btnTw:hover .icon {
    transform: translateX(-60px);
}

.btnTw:hover {
    width: 190px;
    border-radius: 30px;
}

.btnTw:hover .text {
    opacity: 1;
    transform: translateX(0);
}

.btnTw img {
    height: 45px;
    justify-content: center;
    align-items: center;
}


.fondo-sec {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.fondo-article {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50em;
    width: auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-image-slice: 1;
    border-image-repeat: round;
    /* Hace que el borde se ajuste al radio */
    color: white;
    text-align: center;
}

@keyframes glowingBorder {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.767);
    }

    25% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.726);
    }

    50% {
        box-shadow: 0 0 10px rgb(255, 255, 255);
    }

    75% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.582);
    }

    100% {
        box-shadow: 0 0 10px rgb(255, 255, 255);
    }
}

@media (max-width: 600px) {
    /* Estilos para pantallas pequeñas */


    .fondo-article {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        width: 20em;

    }

}

/* cambios 1 */

.sp {
    display: flex;
    justify-content: center;
}

.word {
    position: absolute;
    font-family: Orbitron;
    font-size: 50px;
    color: rgb(0, 0, 0);
    line-height: 1.4em;
    height: 1.2em;
    padding: 0 14px 0 7px;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    animation: brillar 3s infinite;
}

.word:before {
    content: '';
    border-bottom: 4px solid #5500b6;
    background-color: rgb(0, 0, 0);
    width: 1px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 10px;
}

.scroll-down {
    position: absolute !important;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    color: white;
    text-decoration: none;
    animation: bounce 2s infinite;
    z-index: 3;

}

/* animar el scroll-down*/
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    40% {
        transform: translateX(-50%) translateY(-30px);
        color: rgba(0, 0, 0, 0.473);

    }

    60% {
        transform: translateX(-50%) translateY(-15px);
    }
}

@media screen and (max-width: 768px) {

    .word {
        font-size: 40px;
        
    }

    .f-perfil{
        padding: 0;
        width:20em;
    }

}